.navbar{
    background-color: #000000 !important;
    box-shadow: 0px 0px 10px 1px rgb(134, 134, 134);
    color: aliceblue !important;
    
}
.nav-link{
    color: white;
    margin-left: 15px;

}
.nav-link:hover{
    background-color: rgba(240, 2, 255, 0.283); 
    border-radius: 20px;
}
.produsts_list > a {
    /* display: block */
    color: black;
    text-decoration: none;
}
a.active{
    background-color: aliceblue; 
    border-radius: 20px;
    /* padding: 20px; */
    color:  black !important;
    font-weight: bold;
    font-style: italic;

}


.produsts_list > button{
    background-color: black;
}

.produsts_list:hover{
    /* border-radius: 20px; */
    /* border: 2px solid red; */
    font-weight: bold;
    box-shadow: 10px 16px 15px 2px rgb(170, 170, 170) !important;
    /* background-color: #e2e2e271; */
}

.title-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

  }
  
  .title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

  
